// Permitted color name values: Dark, Light, Default
$theme: Default;

// Permitted client name values: adams-apples, blue-beans, calvins-curry
$brand: adams-apples;

// COLORS:

// Due to SASS limitations, defaults must be set above the
// conditional logic and not in an @else statement:
$text-color: #212121;
$body-background-color: #fbfbfb;
$theme-color: #1b1c1d;
$secondary-color: #1683d3;
$ternary-color: #e0e1e2;
$link-color: $secondary-color;
$menu-item-color: #fbfbfb;

// Conditional logic based on $theme:
@if $theme == Dark {
  $text-color: #e4f0fe;
  $body-background-color: #232939;
  $theme-color: #506378;
  $secondary-color: #e14276;
  $ternary-color: #03e9a5;
  $link-color: $secondary-color;
  $menu-item-color: #e4f0fe;
} @else if $theme == Light {
  $text-color: #000;
  $body-background-color: #fff;
  $theme-color: #3700b6;
  $secondary-color: #6200f2;
  $ternary-color: #00dbc5;
  $link-color: $secondary-color;
  $menu-item-color: #fff;
}

// FONTS:

$text-font: 'Alegreya Sans', Arial, sans-serif;
$headline-font: 'Titillium Web', Georgia, serif;

// SIZES:

$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
$column: column-width($columns: 8);
